/* Cherry */

.cherry {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(189, 100, 100, 0.658);
    color: white;
    font: bolder 0.9rem monospace;
    text-align: center;
    line-height: 1.5rem;
    height: 1.5rem;
    
  }