// Variables de color

$primary-white: rgb(255, 255, 255);
$secondary-white: rgb(221, 227, 230);
$third-white: rgb(197, 184, 184);
$primary-blue: #1f1f80;
$secondary-blue:rgba(31, 109, 128, 0.76);
$third-blue: rgb(79, 116, 216);
$fourth-blue:rgb(7, 101, 124);
$primary-green: #aeeeb9;
$secondary-green: #a7e1c5;
$black: rgb(0, 0, 0);


// Variables de fuente

$font-title: bold 2rem Helvetica;
$font-title-add: normal 0.9rem Monospace;
$font-size-tag: bold 1.2rem Helvetica;
$font-p:normal 0.9rem Helvetica;
// $font-size-date-article: oblique 0.75rem Helvetica;
// $font-size-all-article: bold 1rem Helvetica;