* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  color: black;
  background-image: url(./../images/fondo1.png);
}

button {
  border: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #7a5416;
  background: -webkit-gradient(linear, left top, right top, color-stop(9%, #1d1c1a), color-stop(70%, #cccac6));
  background: linear-gradient(90deg, #1d1c1a 9%, #cccac6 70%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 2rem;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .titulo h1 {
  font: bold 2rem Helvetica;
  color: white;
}

header .add-politico {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #e5f1ea), to(#554307));
  background: linear-gradient(to bottom, #e5f1ea 5%, #554307 100%);
}

header .add-politico:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #201f1d), to(#814a0b));
  background: linear-gradient(to bottom, #201f1d 5%, #814a0b 100%);
  background-color: #0061a7;
}

.web-wrapper {
  width: 90%;
  margin: 2rem auto 0.5rem auto;
  border: 6px solid black;
  background-color: rgba(255, 255, 255, 0.548);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

#about {
  padding: 1.2rem 2rem;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about .about-content p {
  margin-bottom: 10px;
  line-height: 1.5rem;
  font: normal 0.9rem Helvetica;
}

/* Modal */
.modal {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
}

.modal .modal-inner {
  padding: 1rem;
  background-image: url(./../images/wanted.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  max-width: 480px;
  width: 100%;
  height: 100%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal .modal-inner .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 10px 0 auto;
}

.modal .modal-inner .modal-header .modal-elementClose {
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.modal .modal-inner .modal-header .modal-elementClose:hover {
  color: black;
}

.modal .modal-inner .modal-body .modal-body-text {
  max-width: 400px;
  margin: 7.5rem auto 0 auto;
  color: black;
  padding: 10px;
  text-align: center;
  font: bold 1.2rem Helvetica;
}

.modal .modal-inner .modal-body .modal-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 5px;
  padding: 0.2rem 1.2rem;
}

.modal .modal-inner .modal-body .modal-form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.883);
  font-weight: bold;
  text-align: center;
}

.modal .modal-inner .modal-body .modal-form input[type="url"] {
  grid-column: span 2;
}

.modal .modal-inner .modal-body .modal-form textarea {
  grid-column: span 2;
  height: 170px;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.883);
}

.modal .modal-inner .modal-body .modal-form .modal-footer {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.modal .modal-inner .modal-body .modal-form .modal-footer .btn {
  margin: 0.2rem auto;
}

/* Modal animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.btn {
  -webkit-box-shadow: inset 0px 0px 5px 0px #27292a;
          box-shadow: inset 0px 0px 5px 0px #27292a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #7a5416), to(#554307));
  background: linear-gradient(to bottom, #7a5416 5%, #554307 100%);
  background-color: #88b118;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 11px 24px;
  text-decoration: none;
  border: none;
  text-shadow: 0px 1px 0px #000000;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ddb23d), to(#814a0b));
  background: linear-gradient(to bottom, #ddb23d 5%, #814a0b 100%);
  background-color: #0061a7;
}

.btn:active {
  position: relative;
  top: 3px;
}

#cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 1.2rem 2rem;
}

#cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.739);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  -webkit-animation-name: animatetop2;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop2;
  animation-duration: 0.6s;
}

#cards .card figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cards .card figure .card-image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid rgba(111, 111, 136, 0.726);
}

#cards .card .card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.2rem 0px;
}

#cards .card .card-buttons .js_edit {
  padding: 5px 10px;
  color: #7a6f6f;
  background-color: #d2d6c7;
  font-size: 0.6rem;
  font-weight: normal;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#cards .card .card-buttons .js_edit:hover {
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#cards .card .card-buttons .js_delete {
  background-color: rgba(255, 255, 255, 0);
  color: #7a6f6f;
  cursor: pointer;
  font-size: 0.6rem;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#cards .card .card-buttons .js_delete:hover {
  color: black;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#cards .card .card-data {
  font-weight: bold;
  font-size: 0.7rem;
}

#cards .card .card-ul {
  margin-top: 0.5rem;
}

#cards .card .card-ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cards .card .card-ul li .card-input-text {
  font-size: 0.8rem;
  text-align: justify;
}

@-webkit-keyframes animatetop2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop2 {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#editmodal .form-edit span {
  font-size: 0.7rem;
  font-weight: bold;
}

#editmodal .two-columns {
  grid-column: span 2;
}

#editmodal input {
  margin-top: 5px;
}

#editmodal textarea {
  height: 140px;
  margin-bottom: 0px;
}

#editmodal .modal-footer {
  margin-top: 0px;
}

/* Cherry */
.cherry {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(189, 100, 100, 0.658);
  color: white;
  font: bolder 0.9rem monospace;
  text-align: center;
  line-height: 1.5rem;
  height: 1.5rem;
}
/*# sourceMappingURL=main.css.map */